<div id="beauty-profile">
  <h2>Beauty Profile</h2>

  <div id="beauty-tabs">
    <button data-type="skincare">Skin Care</button>
    <button data-type="haircare">Hair Care</button>
    <button data-type="makeup">Makeup</button>
  </div>

  <div id="questions-container">
    <p>Select a tab to load questions.</p>
  </div>
</div>

<script src="{{ 'beauty-profile.js' | asset_url }}" defer></script>

