<style>
  .swiper-pagination {
    position: relative !important;
  }

  .custom-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    background: rgb(var(--color-secondary-brand));
    z-index: 10;
  }

  .custom-pagination .swiper-pagination-progressbar-fill {
    background: rgb(var(--color-primary-brand));
  }
</style>

<div class="swiper-pagination custom-pagination {{ cls }}"></div>