
<div class="product-wishlist">
  <button class="wishlist-btn" 
          data-product-handle="{{ product.handle }}"
          data-variant-id="{{ product.selected_or_first_available_variant.id }}">
    ♡ Add to Wishlist
  </button>
</div>