.collections-list {
  width: 100%;
}

.collections-list__container {
  display: flex;
  flex-direction: column;
}

.collections-list__title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collections-list__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.collections-list__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
}

.collections-list__image {
  width: 100%;
  height: 254px;
}

.collections-list__image svg {
  width: 100%;
  height: 100%;
}

.collections-list__title {
  margin: 0;
}

.collections-list__content {
  background: rgb(var(--color-primary-brand));
  padding: 12px 8px;
  border-radius: 0 0 32px 32px;
}

.collections-list__name {
  color: rgb(var(--color-background));
  text-align: center;
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  .collections-list__image {
    height: 90px;
  }

  .collections-list__content {
    padding: 4px 3px;
    border-radius: 0 0 13px 13px;
  }
}
