.footer__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.footer__brand {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__brand-logo {
  max-width: 100%;
}

.footer__brand-title {
  margin: 0;
}

.footer__app-icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__menu,
.footer__social {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__menu {
  margin: 0 !important;
}

.footer__menu-title,
.footer__social-title {
  margin: 0 !important;
  color: rgba(var(--color-primary-text), 0.7);
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 !important;
}

.footer__menu-item {
  margin: 0;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__bottom {
  margin-top: 32px;
}

.footer__payment-image {
  display: block;
  max-width: 100%;
  height: auto;
}
