@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(var(--bg-color));
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}
body.fixed {
  padding-right: var(--scrollbar-width);
}
body.overflow-hidden {
  padding-right: var(--scrollbar-width);
}
body.overflow-hidden::after {
  content: "";
  position: absolute;
  z-index: 29;
  right: 0;
  bottom: 0;
  width: var(--scrollbar-width, 0);
  height: 100%;
  background: #e4e4e4;
}
body.overlay-predictive-search {
  overflow: hidden;
}

summary {
  overflow: hidden;
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

mark {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}

.color-scheme {
  background: rgb(var(--color-background));
  color: rgb(var(--color-primary-text));
}

:root {
  --fluid-vw: 100vw;
  --fluid-max-vw: 1536;
  --fluid-calc: (var(--fluid-vw) - 32rem) / (var(--fluid-max-vw) / 10 - 32) + 0.1rem;
  --fluid-1-065: ((1.065 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-125: ((1.125 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-2: ((1.2 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-25: ((1.25 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-3: ((1.3 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-4: ((1.4 / 10 - 0.1) * var(--fluid-calc));
  --fluid-1-5: ((1.5 / 10 - 0.1) * var(--fluid-calc));
}

:root {
  --column-gap: var(--grid-column-gap);
  --gutter: var(--gutter-sm, 20px);
  --row-gap: calc(10 * var(--space-unit));
  --space-unit: 0.1rem;
  --font-unit: 0.1rem;
  --viewport-width: calc(100vw - var(--scrollbar-width, 0));
}

.container {
  width: 100%;
  max-width: calc(var(--page-width, 1320px) + var(--gutter) * 2);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 16px; /* default padding for mobile or small screens */
}

/* Tablet: 768px to 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-width {
    padding: 0 32px;
  }
}

/* Small desktop: 1024px to 1439px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-width {
    padding: 0 48px;
  }
}

/* Large desktop: 1440px and above */
@media screen and (min-width: 1440px) {
  .page-width {
    padding: 0;
  }
}

body {
  color: rgb(var(--text-color));
  font-family: "General Sans", sans-serif;
  font-size: calc(var(--body-font-size) * 0.1rem);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  line-height: 1.5;
}

.h0,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.font-heading {
  /* margin: 0 0 0.5em; */
  font-family: "Bebas Neue", sans-serif;
}

/* font family */
.ff-general-sans {
  font-family: "General Sans", sans-serif;
}

.ff-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

/* Desktop styles */
.fs-12-lh-16-ls-0_6pct {
  font-size: calc(12 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: 0.6%;
}

.fs-13-lh-16-ls-0_2 {
  font-size: calc(13 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: calc(0.2 * var(--font-unit));
}

.fs-14-lh-20-ls-0 {
  font-size: calc(14 * var(--font-unit));
  line-height: calc(20 * var(--font-unit));
  letter-spacing: 0;
}

.fs-14-lh-20-ls-0_1 {
  font-size: calc(14 * var(--font-unit));
  line-height: calc(20 * var(--font-unit));
  letter-spacing: calc(0.1 * var(--font-unit));
}

.fs-14-lh-100pct-ls-0pct {
  font-size: calc(14 * var(--font-unit));
  line-height: 100%;
  letter-spacing: 0%;
}

.fs-16-lh-16-ls-0 {
  font-size: calc(16 * var(--font-unit));
  line-height: calc(16 * var(--font-unit));
  letter-spacing: 0;
}

.fs-16-lh-100pct-ls-0pct {
  font-size: calc(16 * var(--font-unit));
  line-height: 100%;
  letter-spacing: 0%;
}

.fs-16-lh-24-ls-0 {
  font-size: calc(16 * var(--font-unit));
  line-height: calc(24 * var(--font-unit));
  letter-spacing: 0;
}

.fs-21-lh-24-ls-1_2pct {
  font-size: calc(21 * var(--font-unit));
  line-height: calc(24 * var(--font-unit));
  letter-spacing: 1.2%;
}

.fs-23-lh-24-ls-0 {
  font-size: calc(23 * var(--font-unit));
  line-height: calc(24 * var(--font-unit));
  letter-spacing: 0;
}

.fs-26-lh-26-ls-1_2pct {
  font-size: calc(26 * var(--font-unit));
  line-height: calc(26 * var(--font-unit));
  letter-spacing: 1.2%;
}

.fs-36-lh-40-ls-0pct {
  font-size: calc(36 * var(--font-unit));
  line-height: calc(40 * var(--font-unit));
  letter-spacing: 0%;
}

/* Mobile styles using media query */
@media (max-width: 768px) {
  .mobile-fs-12-lh-16-ls-0_6pct {
    font-size: calc(12 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: 0.6%;
  }

  .mobile-fs-13-lh-16-ls-0_2 {
    font-size: calc(13 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: calc(0.2 * var(--font-unit));
  }

  .mobile-fs-14-lh-20-ls-0_1 {
    font-size: calc(14 * var(--font-unit));
    line-height: calc(20 * var(--font-unit));
    letter-spacing: calc(0.1 * var(--font-unit));
  }

  .mobile-fs-14-lh-16-ls-0 {
    font-size: calc(14 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: 0;
  }

  .mobile-fs-14-lh-20-ls-0 {
    font-size: calc(14 * var(--font-unit));
    line-height: calc(20 * var(--font-unit));
    letter-spacing: 0;
  }

  .mobile-fs-15-lh-16-ls--1_2pct {
    font-size: calc(15 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: -1.2%;
  }

  .mobile-fs-16-ls-16-ls-0 {
    font-size: calc(16 * var(--font-unit));
    line-height: calc(16 * var(--font-unit));
    letter-spacing: 0;
  }

  .mobile-fs-16-lh-24-lh-0 {
    font-size: calc(16 * var(--font-unit));
    line-height: calc(24 * var(--font-unit));
    letter-spacing: 0;
  }

  .mobile-fs-17-lh-24-ls-0 {
    font-size: calc(17 * var(--font-unit));
    line-height: calc(24 * var(--font-unit));
    letter-spacing: 0;
  }

  .mobile-fs-21-lh-24-ls-1_2pct {
    font-size: calc(21 * var(--font-unit));
    line-height: calc(24 * var(--font-unit));
    letter-spacing: 1.2%;
  }
}

/* font weight */
.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.box-shadow {
  box-shadow: 0 2px 14px 0 rgba(3, 11, 26, 0.1);
}

/* icon arrow */
.icon-arrow-left {
  transform: rotate(180deg);
}

hr {
  width: 100%;
  height: 1px;
  margin: calc(6 * var(--space-unit)) 0;
  border: 0;
  background-color: rgba(var(--text-color) / 0.15);
}

address {
  font-style: normal;
}

.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.inset-0 {
  inset: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.z-10 {
  z-index: 10;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-full {
  grid-column: 1 / -1;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-end-3 {
  grid-column-end: 3;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.m-0 {
  margin: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--space-unit);
}
.mb-10 {
  margin-bottom: calc(10 * var(--space-unit));
}
.mb-12 {
  margin-bottom: calc(12 * var(--space-unit));
}
.mb-16 {
  margin-bottom: calc(16 * var(--space-unit));
}
.mb-2 {
  margin-bottom: calc(2 * var(--space-unit));
}
.mb-3 {
  margin-bottom: calc(3 * var(--space-unit));
}
.mb-4 {
  margin-bottom: calc(4 * var(--space-unit));
}
.mb-5 {
  margin-bottom: calc(5 * var(--space-unit));
}
.mb-6 {
  margin-bottom: calc(6 * var(--space-unit));
}
.mb-8 {
  margin-bottom: calc(8 * var(--space-unit));
}
.mb-section {
  margin-bottom: calc(var(--section-gap) * var(--fluid-1-5));
}
.ml-2 {
  margin-left: calc(2 * var(--space-unit));
}
.ml-auto {
  margin-left: auto;
}
.mr-2 {
  margin-right: calc(2 * var(--space-unit));
}
.mr-auto {
  margin-right: auto;
}
.mt-1 {
  margin-top: var(--space-unit);
}
.mt-10 {
  margin-top: calc(10 * var(--space-unit));
}
.mt-12 {
  margin-top: calc(12 * var(--space-unit));
}
.mt-16 {
  margin-top: calc(16 * var(--space-unit));
}
.mt-2 {
  margin-top: calc(2 * var(--space-unit));
}
.mt-3 {
  margin-top: calc(3 * var(--space-unit));
}
.mt-4 {
  margin-top: calc(4 * var(--space-unit));
}
.mt-5 {
  margin-top: calc(5 * var(--space-unit));
}
.mt-6 {
  margin-top: calc(6 * var(--space-unit));
}
.mt-8 {
  margin-top: calc(8 * var(--space-unit));
}
.mt-section {
  margin-top: calc(var(--section-gap) * var(--fluid-1-5));
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-full {
  height: 100%;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.max-w-full {
  max-width: 100%;
}
.max-w-none {
  max-width: none;
}
.max-w-screen-lg {
  max-width: 1024px;
}
.max-w-screen-md {
  max-width: 769px;
}
.flex-auto {
  flex: 1 1 auto;
}
.shrink-0 {
  flex-shrink: 0;
}
.flex-grow {
  flex-grow: 1;
}
.grow {
  flex-grow: 1;
}
.table-fixed {
  table-layout: fixed;
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.list-none {
  list-style-type: none;
}
.auto-cols-1 {
  grid-auto-columns: 100%;
}
.auto-cols-2 {
  grid-auto-columns: calc((100% - var(--column-gap)) / 2);
}
.grid-flow-col {
  grid-auto-flow: column;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.gap-3 {
  gap: calc(3 * var(--space-unit));
}
.gap-4 {
  gap: calc(4 * var(--space-unit));
}
.gap-4_8 {
  gap: calc(4.8 * var(--space-unit));
}
.gap-6 {
  gap: calc(6 * var(--space-unit));
}
.gap-8 {
  gap: calc(8 * var(--space-unit));
}
.gap-10 {
  gap: calc(10 * var(--space-unit));
}
.gap-12 {
  gap: calc(12 * var(--space-unit));
}
.gap-16 {
  gap: calc(16 * var(--space-unit));
}
.gap-24 {
  gap: calc(24 * var(--space-unit));
}
.gap-32 {
  gap: calc(32 * var(--space-unit));
}

.gap-36 {
  gap: calc(36 * var(--space-unit));
}

.gap-48 {
  gap: calc(48 * var(--space-unit));
}

.gap-x-3 {
  row-gap: calc(3 * var(--space-unit));
}
.gap-x-4 {
  row-gap: calc(4 * var(--space-unit));
}
.gap-x-4_8 {
  row-gap: calc(4.8 * var(--space-unit));
}
.gap-x-6 {
  row-gap: calc(6 * var(--space-unit));
}
.gap-x-8 {
  row-gap: calc(8 * var(--space-unit));
}
.gap-x-10 {
  row-gap: calc(10 * var(--space-unit));
}
.gap-x-12 {
  row-gap: calc(12 * var(--space-unit));
}
.gap-x-16 {
  row-gap: calc(16 * var(--space-unit));
}
.gap-x-24 {
  row-gap: calc(24 * var(--space-unit));
}
.gap-x-32 {
  row-gap: calc(32 * var(--space-unit));
}
.gap-x-48 {
  row-gap: calc(48 * var(--space-unit));
}

.gap-y-3 {
  column-gap: calc(3 * var(--space-unit));
}
.gap-y-4 {
  column-gap: calc(4 * var(--space-unit));
}
.gap-y-4_8 {
  column-gap: calc(4.8 * var(--space-unit));
}
.gap-y-6 {
  column-gap: calc(6 * var(--space-unit));
}
.gap-y-8 {
  column-gap: calc(8 * var(--space-unit));
}
.gap-y-10 {
  column-gap: calc(10 * var(--space-unit));
}
.gap-y-12 {
  column-gap: calc(12 * var(--space-unit));
}
.gap-y-16 {
  column-gap: calc(16 * var(--space-unit));
}
.gap-y-24 {
  column-gap: calc(24 * var(--space-unit));
}
.gap-y-32 {
  column-gap: calc(32 * var(--space-unit));
}
.gap-y-48 {
  column-gap: calc(48 * var(--space-unit));
}

@media screen and (max-width: 767px) {
  .mobile-gap-3 {
    gap: calc(3 * var(--space-unit));
  }
  .mobile-gap-4 {
    gap: calc(4 * var(--space-unit));
  }
  .mobile-gap-4_8 {
    gap: calc(4.8 * var(--space-unit));
  }
  .mobile-gap-6 {
    gap: calc(6 * var(--space-unit));
  }
  .mobile-gap-8 {
    gap: calc(8 * var(--space-unit));
  }
  .mobile-gap-10 {
    gap: calc(10 * var(--space-unit));
  }
  .mobile-gap-12 {
    gap: calc(12 * var(--space-unit));
  }
  .mobile-gap-16 {
    gap: calc(16 * var(--space-unit));
  }
  .mobile-gap-24 {
    gap: calc(24 * var(--space-unit));
  }
  .mobile-gap-32 {
    gap: calc(32 * var(--space-unit));
  }
  .mobile-gap-48 {
    gap: calc(48 * var(--space-unit));
  }

  .mobile-gap-x-3 {
    row-gap: calc(3 * var(--space-unit));
  }
  .mobile-gap-x-4 {
    row-gap: calc(4 * var(--space-unit));
  }
  .mobile-gap-x-4_8 {
    row-gap: calc(4.8 * var(--space-unit));
  }
  .mobile-gap-x-6 {
    row-gap: calc(6 * var(--space-unit));
  }
  .mobile-gap-x-8 {
    row-gap: calc(8 * var(--space-unit));
  }
  .mobile-gap-x-10 {
    row-gap: calc(10 * var(--space-unit));
  }
  .mobile-gap-x-12 {
    row-gap: calc(12 * var(--space-unit));
  }
  .mobile-gap-x-16 {
    row-gap: calc(16 * var(--space-unit));
  }
  .mobile-gap-x-24 {
    row-gap: calc(24 * var(--space-unit));
  }
  .mobile-gap-x-32 {
    row-gap: calc(32 * var(--space-unit));
  }
  .mobile-gap-x-48 {
    row-gap: calc(48 * var(--space-unit));
  }

  .mobile-gap-y-3 {
    column-gap: calc(3 * var(--space-unit));
  }
  .mobile-gap-y-4 {
    column-gap: calc(4 * var(--space-unit));
  }
  .mobile-gap-y-4_8 {
    column-gap: calc(4.8 * var(--space-unit));
  }
  .mobile-gap-y-6 {
    column-gap: calc(6 * var(--space-unit));
  }
  .mobile-gap-y-8 {
    column-gap: calc(8 * var(--space-unit));
  }
  .mobile-gap-y-10 {
    column-gap: calc(10 * var(--space-unit));
  }
  .mobile-gap-y-12 {
    column-gap: calc(12 * var(--space-unit));
  }
  .mobile-gap-y-16 {
    column-gap: calc(16 * var(--space-unit));
  }
  .mobile-gap-y-24 {
    column-gap: calc(24 * var(--space-unit));
  }
  .mobile-gap-y-32 {
    column-gap: calc(32 * var(--space-unit));
  }
  .mobile-gap-y-48 {
    column-gap: calc(48 * var(--space-unit));
  }
}

.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.border {
  border-width: 1px;
}
.bg-error-bg {
  background-color: rgb(var(--error-bg-color));
}
.bg-info-bg {
  background-color: rgb(var(--info-bg-color));
}
.bg-success-bg {
  background-color: rgb(var(--success-bg-color));
}
.bg-theme-bg {
  background-color: rgba(var(--bg-color));
}
.bg-theme-text {
  background-color: rgb(var(--text-color));
}
.object-center {
  object-position: center;
}
.object-top {
  object-position: top;
}
.p-4 {
  padding: calc(4 * var(--space-unit));
}
.p-5 {
  padding: calc(5 * var(--space-unit));
}
.p-6 {
  padding: calc(6 * var(--space-unit));
}
.p-8 {
  padding: calc(8 * var(--space-unit));
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: var(--space-unit);
}
.pb-2 {
  padding-bottom: calc(2 * var(--space-unit));
}
.pb-3 {
  padding-bottom: calc(3 * var(--space-unit));
}
.pb-4 {
  padding-bottom: calc(4 * var(--space-unit));
}
.pb-6 {
  padding-bottom: calc(6 * var(--space-unit));
}
.pl-4 {
  padding-left: calc(4 * var(--space-unit));
}
.pl-6 {
  padding-left: calc(6 * var(--space-unit));
}
.pr-4 {
  padding-right: calc(4 * var(--space-unit));
}
.pr-6 {
  padding-right: calc(6 * var(--space-unit));
}
.pt-2 {
  padding-top: calc(2 * var(--space-unit));
}
.pt-3 {
  padding-top: calc(3 * var(--space-unit));
}
.pt-4 {
  padding-top: calc(4 * var(--space-unit));
}
.pt-5 {
  padding-top: calc(5 * var(--space-unit));
}
.pt-6 {
  padding-top: calc(6 * var(--space-unit));
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.text-sm {
  font-size: 0.88em;
}
.text-xs {
  font-size: 0.75em;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.leading-none {
  line-height: 1;
}
.text-current {
  color: currentColor;
}
.text-error-text {
  color: rgb(var(--error-text-color));
}
.text-info-text {
  color: rgb(var(--info-text-color));
}
.text-inherit {
  color: inherit;
}
.text-success-text {
  color: rgb(var(--success-text-color));
}
.text-theme-bg {
  color: rgba(var(--bg-color));
}
.text-theme-heading {
  color: rgb(var(--heading-color));
}
.text-theme-light {
  color: rgba(var(--text-color) / 0.6);
}
.text-theme-text {
  color: rgb(var(--text-color));
}
.underline {
  text-decoration-line: underline;
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.js .js-hidden,
.no-js .no-js-hidden {
  display: none;
}
@media (max-width: 768.98px) {
  .header__icon.js .js-hidden.md\:block,
  .header__icon .no-js .no-js-hidden.md\:block {
    display: none;
  }
}

.no-js .no-js-visible {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.object-bottom {
  object-position: bottom;
}

.object-top {
  object-position: top;
}

[hidden] {
  display: none !important;
}

@media (prefers-reduced-motion) {
  .has-motion {
    transition: none !important;
    animation: none !important;
  }
}
@media (hover: none) {
  .no-hover-hidden {
    display: none !important;
  }
}
.color-link {
  color: rgb(var(--link-color));
}

.border-top {
  border-top: 1px solid rgba(var(--text-color) / 0.15);
}

.border-bottom {
  border-bottom: 1px solid rgba(var(--text-color) / 0.15);
}

.start {
  left: var(--start-gutter, 0);
}
[dir="rtl"] .start {
  right: var(--start-gutter, 0);
  left: auto;
}

.end {
  right: var(--end-gutter, 0);
}
[dir="rtl"] .end {
  right: auto;
  left: var(--end-gutter, 0);
}

.mis-2 {
  margin-inline-start: calc(2 * var(--space-unit));
}

.mis-auto {
  margin-inline-start: auto;
}

.mie-auto {
  margin-inline-end: auto;
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.tap-target {
  position: relative;
}
.tap-target::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.tap-target--left::after {
  left: 0;
  transform: translateY(-50%);
}

.tap-target--right::after {
  right: 0;
  left: auto;
  transform: translateY(-50%);
}

.top-header-offset {
  top: calc(var(--header-end-padded, 0) * -1);
}

.visible-lg {
  display: none !important;
}

.alert {
  padding: 2rem 2.4rem;
}
.alert.bg-success-bg {
  border: 1px solid rgba(var(--success-text-color) / 0.2);
}
.alert.bg-error-bg {
  border: 1px solid rgba(var(--error-text-color) / 0.2);
}
.alert[autofocus] {
  outline: 0;
}

.text-success-text {
  --heading-color: rgb(var(--success-text-color));
  --link-color: rgb(var(--success-text-color));
}

.text-error-text {
  --heading-color: rgb(var(--error-text-color));
  --link-color: rgb(var(--error-text-color));
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  font-family: inherit;
  font-size: 1em;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
}

shop-login-button {
  --buttons-radius: var(--btn-border-radius, 0);
}

.custom-select__btn {
  display: flex;
  width: var(--custom-select-button-width, auto);
  min-width: 100%;
  max-width: 100%;
  background-color: rgb(var(--input-bg-color));
  color: rgb(var(--input-text-color));
  font-size: 0.88em;
  font-weight: bold;
  line-height: 0.88em;
}
.custom-select__btn.is-loading {
  color: rgba(var(--input-text-color) / 0.2);
}
.custom-select__btn > .icon {
  flex-shrink: 0;
  width: 36px;
  height: 20px;
  margin-inline-start: auto;
  margin-inline-end: -5px;
  padding-inline-start: 16px;
}

.custom-select__listbox {
  z-index: 100;
  top: 5px;
  left: -5px;
  min-width: 100%;
  max-height: 20em;
  overflow-y: auto;
  border: var(--input-border-width) solid rgba(var(--input-text-color) / 0.2);
  outline: 0;
  background-color: var(--input-bg-color-diff-3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  color: rgb(var(--input-text-color));
  font-size: 0.88em;
}
.custom-select__listbox[aria-hidden="false"] {
  visibility: visible;
}

.custom-select__option {
  padding: 10px 16px;
  cursor: pointer;
}
.custom-select__option > em {
  flex-shrink: 0;
  margin-inline-start: auto;
  padding-inline-start: 1em;
  font-style: normal;
}
.custom-select__option.is-focused {
  outline: 0;
  background-color: var(--input-bg-color-diff-6);
  color: rgb(var(--input-text-color));
}

.custom-select__option--visual-group-end:not(:last-child) {
  position: relative;
  margin-bottom: 0.8em;
}
.custom-select__option--visual-group-end:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.4em);
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(var(--input-text-color));
  opacity: 0.1;
  pointer-events: none;
}

.checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  vertical-align: top;
  cursor: pointer;
}
.checkbox + label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-top: calc(0.75em - 11px);
  margin-inline-end: 0.75em;
  border: var(--input-border-width) solid rgb(var(--text-color));
  border-radius: 2px;
  background-color: rgb(var(--input-bg-color));
}
.checkbox:checked + label::before {
  border-color: rgb(var(--text-color));
  background-color: rgb(var(--text-color));
}
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: calc(0.75em - 1.5px);
  left: 11px;
  width: calc((22px - (var(--input-border-width) * 2)) * 0.375);
  height: calc((22px - (var(--input-border-width) * 2)) * 0.75);
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid rgba(var(--bg-color));
  border-width: 0 2px 2px 0;
}
[dir="rtl"] .checkbox:checked + label::after {
  right: 11px;
  left: auto;
  transform: translate(50%, -50%) rotate(45deg);
}
.checkbox[disabled] + label {
  opacity: 0.5;
  cursor: default;
}

.radio {
  position: absolute;
  opacity: 0;
}
.radio + label {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  vertical-align: top;
  cursor: pointer;
}
.radio + label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-inline-end: 0.75em;
  border: var(--input-border-width) solid rgb(var(--text-color));
  border-radius: 2px;
  background-color: rgb(var(--input-bg-color));
  width: 22px;
  height: 22px;
  margin-top: calc(0.75em - 11px);
  border-radius: 50%;
}
.radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0.75em;
  left: 11px;
  width: calc((22px - (var(--input-border-width) * 2)) * 0.625);
  height: calc((22px - (var(--input-border-width) * 2)) * 0.625);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(var(--text-color));
}
[dir="rtl"] .radio:checked + label::after {
  right: 11px;
  left: auto;
  transform: translate(50%, -50%);
}

.custom-select__option > em {
  padding-inline-start: 2em;
}

.custom-select__listbox {
  min-width: max(100%, 165px);
  border-radius: var(--modal-border-radius);
}

fieldset {
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

.label {
  display: block;
  margin: 0 0 calc(2 * var(--space-unit));
  font-size: 0.88em;
  font-weight: 700;
  text-align: start;
}

.label--inline {
  display: inline-block;
  margin: 0;
}

.is-required > label:not(.required-inline)::after {
  content: " *";
}

input,
textarea,
select {
  background-clip: padding-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

input[type="date"] {
  min-height: calc((var(--input-padding-y, 11px) + var(--input-border-width)) * 2 + 1.2em);
  -webkit-appearance: none;
}

.input,
select {
  max-width: 100%;
  margin: 0;
  padding: var(--input-padding-y, 11px) 24px;
  transition: border-color 0.2s, box-shadow 0.2s, outline 0.2s;
  border: var(--input-border-width) solid rgba(var(--input-text-color) / 0.2);
  border-radius: var(--input-border-radius, 0);
  background-color: rgb(var(--input-bg-color));
  color: rgb(var(--input-text-color));
  font-size: 0.88em;
  line-height: 1.2em;
}
.input:focus,
select:focus {
  border-color: rgba(var(--input-text-color) / 0.6);
  outline: 0;
  box-shadow: 0 0 0 1px rgba(var(--input-text-color) / 0.6);
}

.input::placeholder {
  color: rgba(var(--input-text-color) / 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  border: var(--input-border-width) solid rgba(var(--input-text-color) / 0.2);
  box-shadow: 0 0 0 1000px rgb(var(--input-bg-color)) inset;
  -webkit-text-fill-color: rgb(var(--input-text-color));
}

[type="email"],
[type="tel"] {
  text-align: start;
}

[type="number"] {
  -moz-appearance: textfield;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  margin: 0;
  -webkit-appearance: none;
}

textarea {
  border-radius: var(--textarea-border-radius) !important;
  vertical-align: top;
  resize: vertical;
}

select {
  padding-inline-end: 48px;
  font-weight: 700;
  -webkit-appearance: none;
  appearance: none;
}

.select::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--input-text-color));
  pointer-events: none;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path d='M20 8.5 12.5 16 5 8.5' fill='none' stroke='currentColor' stroke-width='1.5'/></svg>");
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path d='M20 8.5 12.5 16 5 8.5' fill='none' stroke='currentColor' stroke-width='1.5'/></svg>");
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.placeholder-svg {
  width: 100%;
  height: 100%;
}

.img-fit,
.md\:img-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-fit.img-fit--contain,
.md\:img-fit.img-fit--contain {
  object-fit: contain;
}

.icon {
  vertical-align: top;
  pointer-events: none;
}

[dir="rtl"] .has-ltr-icon .icon {
  transform: scaleX(-1);
}

.image-blend {
  background-color: var(--blend-bg-color) !important;
}
.image-blend img {
  mix-blend-mode: multiply;
}

@media (max-width: 768.98px) {
  .md\:img-fit {
    position: static;
  }
}
a,
.link {
  color: rgb(var(--link-color));
  text-decoration: none;
}

html:not([dir="rtl"]) .is-success::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 20px;
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid rgb(var(--success-text-color));
  border-width: 0 2px 2px 0;
}

html:not([dir="rtl"]) .is-success::before {
  animation: checkmark 1.4s ease;
}

table {
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  padding: 1em;
  border-collapse: collapse;
  border: 1px solid rgba(var(--text-color) / 0.15);
  text-align: start;
}

@media (min-width: 600px) {
  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .sm\:block {
    display: block;
  }
  .sm\:flex {
    display: flex;
  }
  .sm\:grid {
    display: grid;
  }
  .sm\:w-auto {
    width: auto;
  }
  .sm\:auto-cols-2 {
    grid-auto-columns: calc((100% - var(--column-gap)) / 2);
  }
  .sm\:auto-cols-3 {
    grid-auto-columns: calc((100% - var(--column-gap) * 2) / 3);
  }
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .sm\:flex-wrap {
    flex-wrap: wrap;
  }
  .sm\:gap-x-theme {
    column-gap: var(--column-gap);
  }
  .sm\:gap-y-8 {
    row-gap: calc(8 * var(--space-unit));
  }
  .sm\:text-end {
    text-align: end;
  }
}
@media (min-width: 769px) {
  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .md\:mb-0 {
    margin-bottom: 0;
  }
  .md\:mb-12 {
    margin-bottom: calc(12 * var(--space-unit));
  }
  .md\:mb-14 {
    margin-bottom: calc(14 * var(--space-unit));
  }
  .md\:mb-6 {
    margin-bottom: calc(6 * var(--space-unit));
  }
  .md\:mb-8 {
    margin-bottom: calc(8 * var(--space-unit));
  }
  .md\:mr-2 {
    margin-right: calc(2 * var(--space-unit));
  }
  .md\:mt-14 {
    margin-top: calc(14 * var(--space-unit));
  }
  .md\:mt-16 {
    margin-top: calc(16 * var(--space-unit));
  }
  .md\:block {
    display: block;
  }
  .md\:inline {
    display: inline;
  }
  .md\:flex {
    display: flex;
  }
  .md\:inline-flex {
    display: inline-flex;
  }
  .md\:grid {
    display: grid;
  }
  .md\:hidden {
    display: none;
  }
  .md\:h-auto {
    height: auto;
  }
  .md\:w-auto {
    width: auto;
  }
  .md\:auto-cols-2 {
    grid-auto-columns: calc((100% - var(--column-gap)) / 2);
  }
  .md\:auto-cols-3 {
    grid-auto-columns: calc((100% - var(--column-gap) * 2) / 3);
  }
  .md\:auto-cols-4 {
    grid-auto-columns: calc((100% - var(--column-gap) * 3) / 4);
  }
  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .md\:flex-wrap {
    flex-wrap: wrap;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:gap-y-16 {
    row-gap: calc(16 * var(--space-unit));
  }
  .md\:gap-y-6 {
    row-gap: calc(6 * var(--space-unit));
  }
  .md\:gap-y-8 {
    row-gap: calc(8 * var(--space-unit));
  }
  .md\:self-start {
    align-self: flex-start;
  }
  .md\:p-8 {
    padding: calc(8 * var(--space-unit));
  }
  .md\:pt-0 {
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .lg\:col-start-1 {
    grid-column-start: 1;
  }
  .lg\:col-start-2 {
    grid-column-start: 2;
  }
  .lg\:row-start-1 {
    grid-row-start: 1;
  }
  .lg\:mt-0 {
    margin-top: 0;
  }
  .lg\:mt-8 {
    margin-top: calc(8 * var(--space-unit));
  }
  .lg\:block {
    display: block;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:auto-cols-3 {
    grid-auto-columns: calc((100% - var(--column-gap) * 2) / 3);
  }
  .lg\:auto-cols-4 {
    grid-auto-columns: calc((100% - var(--column-gap) * 3) / 4);
  }
  .lg\:auto-cols-5 {
    grid-auto-columns: calc((100% - var(--column-gap) * 4) / 5);
  }
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .lg\:overflow-hidden {
    overflow: hidden;
  }
}
@media (min-width: 1280px) {
  .xl\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .xl\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .xl\:auto-cols-4 {
    grid-auto-columns: calc((100% - var(--column-gap) * 3) / 4);
  }
  .xl\:auto-cols-5 {
    grid-auto-columns: calc((100% - var(--column-gap) * 4) / 5);
  }
  .xl\:auto-cols-6 {
    grid-auto-columns: calc((100% - var(--column-gap) * 5) / 6);
  }
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .xl\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .xl\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
