.promotional-banner-section {
  width: 100%;
  padding: 0;
}

.promotional-banner-container {
  grid-template-columns: 1fr 1fr;
}

.promotional-banner-item {
  position: relative;
  overflow: hidden;
  height: 308px;
}

.promotional-banner-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.promotional-banner-content {
  position: relative;
  height: 100%;
  transition: transform 0.3s ease;
}

.promotional-banner-content:hover {
  transform: scale(1.02);
}

.promotional-banner-image {
  width: 100%;
  height: 100%;
}

.promotional-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promotional-banner-mobile {
  display: none;
  width: 100%;
  height: 100%;
}

.promotional-banner-desktop {
  display: block;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .promotional-banner-item {
    height: 88px;
  }

  .promotional-banner-mobile {
    display: block;
  }

  .promotional-banner-desktop {
    display: none;
  }
}
