.scrolling-banner {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scrolling-banner--default {
  padding: 30px 0;
}

.scrolling-banner--xsmall {
  padding: 20px 0;
}

.scrolling-banner--small {
  padding: 40px 0;
}

.scrolling-banner--medium {
  padding: 60px 0;
}

.scrolling-banner__items-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.scrolling-banner__item {
  flex-shrink: 0;
  text-align: center;
}

@keyframes scroll-normal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.scrolling-banner__items--normal {
  animation: scroll-normal linear infinite;
}

.scrolling-banner__items--reverse {
  animation: scroll-reverse linear infinite;
}
